* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: #FBF8CC;
  --toolight: #F7F197;
  --primary: #F5EE84;
  --theme1: #474306;
  --theme2: #03045E;
}

body {
  background: var(--background);
}

.container {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a, a:active {
  color: var(--theme2);
}