.header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: var(--theme2);
}

.navigation ul {
  display: flex;
  gap: 25px;
}

.navigation a {
  font-size: 18px;
}

.socialMediaHandles {
  display: flex;
  gap: 13px;
}

.socialMediaHandles svg {
  height: 20px;
  width: 20px;
  fill: var(--theme2);
}